<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.zone4apk.bookstash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.blogspot.zone4apk.bookstash.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.blogspot.zone4apk.bookstash.WelcomeFlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.MyAccountActivity"
            android:label="My Account"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.HelpActivity"
            android:label="Help"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.AboutActivity"
            android:label="About"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.MyOrdersActivity"
            android:label="My Orders"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.WishlistActivity"
            android:label="Wishlist"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.CartActivity"
            android:label="Cart"
            android:parentActivityName="com.blogspot.zone4apk.bookstash.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.ChatSupportActivity"
            android:label="Chat Support"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.HelpActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.MyAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.EditAddressActivity"
            android:label="Add a new address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.ConfirmOrderActivity"
            android:label="Confirm Order"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.CartActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.VerifyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.blogspot.zone4apk.bookstash.ForgotPasswordActivity"
            android:label="Reset Password"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.LoginActivity" />
        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.NotificationsActivity"
            android:label="Notification"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />

        </activity>
        <activity
            android:name="com.blogspot.zone4apk.bookstash.ProductSubscriptionActivity"
            android:label="Subscription"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.zone4apk.bookstash.DashboardActivity" />
        </activity>
    </application>

</manifest>